body {
  font-family: 'Montserrat', sans-serif;
}

/* id セレクター */
#product-overview {
  background: #ff1b68;
}

/* element 指定 */
h1 {
  color: white;
  font-family: 'anton', sans-serif;
}

/* class セレクター
*  再利用可能
*  複数指定可能
*/
.section-title {
  color: #2ddf5c;
  font-family: inherit;
}

/*
スタイルが競合した場合の優先順位
Inline Styles > #ID selector > .class selector > Tag and element selectors
*/
