body {
  font-family: 'Montserrat', sans-serif;
}

/* id セレクター */
#product-overview {
  background: #ff1b68;
}

/* Combinator */
#product-overview h1 {
  color: white;
  font-family: 'anton', sans-serif;
}

/* element 指定 */
h1 {
  font-family: san-sans-serif;
}

/* class セレクター
*  再利用可能
*  複数指定可能
*/
.section-title {
  color: #2ddf5c;
  font-family: inherit;
}

/*
スタイルが競合した場合の優先順位
Inline Styles > #ID selector > .class selector > Tag and element selectors
*/

/* Combinatorsについて
*
1) Adjacent Sibling Combinator:   div + p {}      div 直後のpのみにスタイルが当たる
2) Genaral Sibling Combinator:    div ~ p {}      div と同じ階層のpにスタイルが当たる
3) Child Combinator:              div > p {}      div 直下のpのみにスタイルが当たる
4) Decendant Combinator:          div p {}        div 配下の p全てにスタイルが当たる



*/
